body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: beige;
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../Bootstrap-Portfolio/assets/images/techbg-1280x960.jpg");
    background-size: 100%;
}

#logo {
    font-family: 'Megrim', cursive;
    font-size: 30px;
    font-weight: bold;
    color: rgba(238, 255, 0, 0.712);
    text-shadow: 0 1px 3px rgb(82, 0, 0), 0 0 5px rgb(0, 255, 242);
    padding: 8px;
    border-radius: 5px;
    /* Visual */
    background: rgba(1, 39, 75, 0.712);
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    color: rgba(0, 0, 0, 0.774);
    text-shadow: 0 1px 3px rgb(82, 0, 0), 0 0 5px rgb(0, 255, 242);
}

.container {
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}



.navbar-default .navbar-nav > li > a:hover {
    color: rgba(0, 0, 0, 0.774);
  }

  /* media query for nav background color change */
@media only screen and (max-width: 767px) {
    /* .navbar-header {
      background-color: rgba(67, 255, 255, 0.774);;
    } */
  }
  /* NAV BAR */
  .navbar-light {
    background: rgba(255, 255, 255, 0.493); 
    font-weight: bold;  
    }
    
    a:hover, a:active {
        background: rgba(42, 248, 255, 0.404);
    }
    /* END NAV */


/* MAIN CONTAINER */

.main-section {
    padding-top: 100px;
}

.jumbotron {
    padding: 25px;
    background-color: #05425aab;
    border: 1.5px solid rgba(13, 48, 82, 0.692);
    margin-top: 15px;
}

#profile-image {
    width: 100%;
    /* object-fit: contain; */
}

/* ROW-COL */

#master-row {
    padding: 10px;
}


/* Contact Page */
.btn-primary {
    background-color: rgba(0, 0, 0, 0.774);;
    color: #ffffff;    
}

/* Portfolio Page */
.sub-row {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}
h4 {
    position: absolute;
    bottom: 20px;
    width: 80%;
    padding: 2px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: rgba(0, 0, 0, 0.623);
    border-bottom: 0;
    
}

.sub-row img {
    width: 80%;
    border: 0 none;
}


/* Footer */
.fixed-bottom {
    height: 30px;
    margin-top: 20px;
    padding: 0.5px;
    background: rgba(255, 255, 255, 0.493);
    border-block-start: 1px solid rgba(1, 39, 75, 0.712);
    text-align: center;
}

/* Media queries */
@media screen and (max-width: 640px) {
    .sub-row {
        width: 100%;
    }
}

@media screen and (max-width: 980px) {
    .main-section {
        margin: 0 25px 0 25px;
    }
    .sub-row {
        width: 100%;
    }
}














You're doing awesome
https://media.giphy.com/media/2uw1ZxlWgFbydDHdLa/giphy.gif
Keep it up
https://media.giphy.com/media/tZY3PJLfc4cTjeIP2t/giphy.gif