body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #777777;
    /* Background pattern from Toptal Subtle Patterns */
    background: url("../Bootstrap-Portfolio/assets/images/dust_scratches.png")
}


#logo {
    font-family: Georgia, Times, "Times New Roman", serif;
    /* Typography */
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  
    /* Visual */
    background: rgba(0, 0, 0, 0.774);
  }
  h1 {
    color: rgba(0, 0, 0, 0.774);;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }

  .navbar-default .navbar-nav > li > a:hover {
    color: rgba(0, 0, 0, 0.774);;
  }
  
  .navbar {
    background: white;
    border: none;
  }
  /* media query for nav background color change */
@media only screen and (max-width: 767px) {
    .navbar-header {
      background-color: rgba(0, 0, 0, 0.774);;
    }
  }
  /* NAV BAR */
  .navbar-light {
      background-color: #ffffff;    
    }
    
    a:hover, a:active {
        background: rgba(0, 0, 0, 0.774);;
    }
    /* END NAV */


/* MAIN CONTAINER */

.main-section {
    padding-top: 100px;
}

.jumbotron {
    padding: 25px;
    background-color: #ffffff;
    border: 1.5px solid #dddddd;
}

#profile-image {
    width: 100%;
    /* object-fit: contain; */
}

/* ROW-COL */

#master-row {
    padding: 10px;
}


/* Contact Page */
.btn-primary {
    background-color: rgba(0, 0, 0, 0.774);;
    color: #ffffff;    
}

/* Portfolio Page */
.sub-row {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}
h4 {
    position: absolute;
    bottom: 20px;
    width: 80%;
    padding: 2px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: rgba(0, 0, 0, 0.774);
    border-bottom: 0;
    
}

.sub-row img {
    width: 80%;
    border: 0 none;
}


/* Footer */
.fixed-bottom {
    height: 50px;
    margin-top: 20px;
    padding: 0.5px;
    background: #7777778f;
    border-block-start: 5px solid rgba(0, 0, 0, 0.774);;
    color: #160404;
    text-align: center;
}

/* Media queries */
@media screen and (max-width: 640px) {
    .sub-row {
        width: 100%;
    }
}

@media screen and (max-width: 980px) {
    .main-section {
        margin: 0 25px 0 25px;
    }
    .sub-row {
        width: 100%;
    }
}














You're doing awesome
https://media.giphy.com/media/2uw1ZxlWgFbydDHdLa/giphy.gif
Keep it up
https://media.giphy.com/media/tZY3PJLfc4cTjeIP2t/giphy.gif